<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--

       Reactive form w/ validators:
       1) Project name not empty.
       2) mail - not empty + valid email
       3) Project status dropdown w/ 3 values.
       4) Submit Button

       Add your own validator which doesnt allow "Test" as a project name

       Implement Async Validator for the above as well.

       Upon submitting the form print hte value to console.

       -->

      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">ProjectName</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Status</label>
          <select class="form-control"
                  id="projectStatus"
          >
            <option *ngFor="let projectStatusName of projectForm.get('projectStatusOptions')['controls'];">
              {{projectStatusName.value}}
            </option>
          </select>
        </div>

        <button class="btn btn-primary type=submit">Submit</button>

      </form>
    </div>
  </div>
</div>
