<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--

       Reactive form w/ validators:
       1) Project name not empty.
       2) mail - not empty + valid email
       3) Project status dropdown w/ 3 values.
       4) Submit Button

       Add your own validator which doesnt allow "Test" as a project name

       Implement Async Validator for the above as well.

       Upon submitting the form print hte value to console.

       -->
    </div>
  </div>
</div>
